<div class="card">
  <div class="title">{{book.title}}</div>

  <div class="cover">
    <img [src]="book.formats.imageSrc" *ngIf="showBookCover$ | async" alt="Photo of a Shiba Inu">
  </div>
  <div class="content">
    Authors:
    <div *ngFor="let author of book.authors">
      {{author.name}}
    </div>
  </div>
  <div class="footer">
    <button mat-button matTooltip="See detailed info" color="primary" [routerLink]="['./', book.id]"
      class="footer-button">
      <mat-icon>info</mat-icon>Details
    </button>
    <a [href]="book.formats.textUrl" matTooltip="Read Online" target="_blank">
      <button color="primary" mat-icon-button aria-label="Read Online">
        <mat-icon>chrome_reader_mode</mat-icon>
        Read
      </button>
    </a>
  </div>
</div>
