<form [formGroup]="searchForm" class="container">
  <mat-checkbox class="item" formControlName="showBookCover" color="primary">Show Book Cover
  </mat-checkbox>
  <mat-form-field class="search" appearance="fill">
    <mat-label>Search Book TiTle:</mat-label>
    <input formControlName="searchString" matInput placeholder="Book title">
  </mat-form-field>
</form>


<!-- <mat-checkbox class="item" (change)="showImageChange($event.checked)" color="primary"
  [checked]="showBookCover$ | async">Show Book Cover</mat-checkbox>
<form [formGroup]="searchForm">
  <mat-form-field class="search" appearance="fill">
    <mat-label>Search Book TiTle:</mat-label>
    <input formControlName="searchString" matInput placeholder="Book title">
  </mat-form-field>
</form> -->
