<div class="big-card" *ngIf="selectedBook$ | async as book">
  <div class="left-side">
    <img [src]="book.formats.imageSrc" alt="Book Cover">
    <div>
      Languages: <span *ngFor="let language of book.languages; last as isLast">
        {{language}}<span *ngIf="!isLast">,</span>
      </span>
    </div>
    <div>Downloads: {{book.download_count}}</div>
  </div>

  <div class="right-side">
    <h2>{{book.title}}</h2>
    <div>Authors: <span
        *ngFor="let author of book.authors">{{author.name}}({{author.birth_year}}-{{author.death_year}})</span>
    </div>
    <div>Subjects: <span *ngFor="let s of book.subjects; last as isLast">{{s}}<span *ngIf="!isLast">,</span> </span>
    </div>
    <div>Bookshelves: <span *ngFor="let bookshelve of book.bookshelves; last as isLast">{{bookshelve}}<span
          *ngIf="!isLast">,</span></span></div>

    <div>
      <a [href]="book.formats.textUrl" matTooltip="Read Online" target="_blank">
        <button color="primary" mat-icon-button aria-label="Read Online">
          <mat-icon>chrome_reader_mode</mat-icon>
          Read Online
        </button>
      </a>
    </div>
  </div>

</div>

<div *ngIf="error$ | async as error">
  <div class="error errorLarge">Oh No</div>
  <div class="error errorMed">The book id</div>
  <div class="error errorSmall">It's broken</div>
</div>
